/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General Styles */

@font-face{
    font-family: 'Wisdom Script';
    src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #e2e3ed;
	text-decoration: none;
}

a:hover {
  color: #d7f7f6;
  font-size: 1.05em;
}

h1 {
	font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

p {
	font-size: 1em;
	line-height: 1.285;
}

img {
	width: 100%;
}

figure {
	margin: 0;
}

button {
  display: none;
}
 

address {
 font-style: normal;
}

hr {
  margin: 40px;
}

body {
  
  background-color: #dee2e3;
  background-color: #f5f2f2;

}

.content-wrapper {
	width: 90%;
	margin: 50px 0;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
	background: linear-gradient(to bottom, rgba(11, 77, 66, 0.3) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg);
	background-size: cover;
	background-position: center;
	padding: 15px 0;
  color: #e2e3ed;
  height: 300px;
}

header .content-wrapper {
	margin: 0; 
	display: flex;
	justify-content: space-between;
  padding: 0 15px;
}

.logo, .slogan {
	margin: 0;
}

.slogan {
	margin-top: 10px;
}

.menu-icon {
  font-size: 2em;
  color: #fff;
  line-height: 50px;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav ul {
  max-height: 400px;
  padding: 15px 0;
  transition: all 0.5s;
}

nav {
  position: absolute;
  background-color: #3d4852;
  top: 70px;
  left: 0;
  width: 50%;
}

nav ul {
	list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: ;
}

nav ul li {
	padding: 0 15px;	
  text-transform: uppercase;
}

nav ul li a {
  display: inline-block;
  padding: 12px;
  color: #dae1e7;
  text-decoration: none;
  letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
  color: #eb6f4a;
}

.headline-content {
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  margin: 0;
}

footer {
	text-align: center;
	flex-direction: column;
  background-color: #d4d2cf;
}

footer p {
	margin: 0;
}

footer .content-wrapper {
	margin: 0;
}

footer hr {
  background-color: #fff;
}

#contact p {
	display: flex;
	flex-direction: column;
	line-height: 2;
}

#contact a {
  color: #6d6d6e;
}

#contact a:hover {
  color: #872938;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
  margin-top: 20px;
}

.social-icons p {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f7f7;
	box-shadow: 1px 1px #000000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 2px;
}

.social-icons p i {
	font-size: 1.3em;
	color: #404445;
	text-shadow: 1px 1px #fff;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  font-size: .5em;
}

.nav-bottom li {
  padding: 0;
}

.nav-bottom a {
  color: #000;
}
.copyright {	
	margin: 20px 0;
}

.copyright a {
  color: #000;
}

/* -------------------- Mobile Styles - Homepage -------------------- */

/* Hero Area */

.hero-area .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

.hero-area .content-title {
  text-align: center;
}

.hero-area h2 {
  text-transform: uppercase;
	padding: 10px;
	margin: 0;
}

.hero-area p {
	font-size: 1.25em;
	padding: 10px;
	margin: 0;
}

/* Service Area */

#services {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/scott-graham-OQMZwNd3ThU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#services .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin: 10px 0;
}

.service-features {
  margin-bottom: 30px;
}

#services article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#services .features-item-description {
    width: 62%;
  }

.fontawesome-icon {
  font-size: 2.5em;
}

#services i {
  color: #fff;
}

/* Portfolio Area */

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #fff;
}

#portfolio .content-wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #fff;
	width: 80%;
  margin: 0;
}

#portfolio h2 {
	text-align: center;
	margin: 20px;
}

#portfolio h3 {
  font-size: 1.5em;
}

#portfolio a {
  color: #000;
}

#portfolio p {
  font-size: 1.25em;
  padding: 20px;
}

#portfolio article {	
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: ; 
  border: solid 2px #9a9797;
  box-shadow: 1px 2px 2px #000;
  text-shadow: 2px 2px 2px #fff;
  border-radius: 5px; 
  height: 100px;
  margin: 10px;
  padding: 20px;
  position: relative;
}

#portfolio article a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}

#portfolio .job-1 {
  /*background: linear-gradient(to bottom, rgba(22, 77, 66, 0.7) 0%, rgba(22, 77, 66, 0.7) 100%), */
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-jubilee-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-2 {
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-holstee-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-3 {
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-rogue-pickings-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-4 {
  background: radial-gradient(rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-unplugged-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-5 {
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-lolcat-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-6 {
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-magic-8-ball-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-7 {
  background: radial-gradient(circle, rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-election-map-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: #fff;
}

#portfolio .job-8 {
  background: radial-gradient(rgba(201,201,203,1) 0%, rgba(234,238,238,0.31416316526610644) 50%), url(../img/project-recipe-thumbnail.png);
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  margin-bottom: 50px;
  color: #fff;
}

#portfolio h3, h4, p {
  text-align: center;
  margin: 30px 0 0 0;
}

#portfolio button {
  margin: 30px 0;
}

#portfolio .btn {
  color: #5f6061;
}

/* About Area */

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; 
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
	margin: 0;
	padding: 0;  
}

#about .content-wrapper {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  margin-bottom: 50px;
  padding: 20px;
  padding-bottom: 0;
}

#about .third-width {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	margin: 30px 0 0 0;
}

#about h2 {
	text-align: center;
	margin: 0;
}

#about h3 {
	text-align: center;
	margin: 0;
}

#about ul {
	margin-top: 20px;
}


#about .skills {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
  margin: 30px 0;
  padding: 20px;
}

#about .skills-content article {
  margin: 40px;
}

#about .skills-content i {
  font-size: 2em;
  margin: 0;
}

#about .skills-content p {
  font-size: 1.25em;
}

#about .skills-content img {
  width: 40px;
}

#about .skill-description {
  padding: 0;
  margin: 10px;
}

#about .history, .help {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 1.25em;
	margin: 0;
	padding: 20px;
}

#about .help {
  margin-top: 20px;
}

#about .history-content, .help-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0;
}

/* -------------------- Mobile Styles - CV Page -------------------- */

.cv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;  
	width: 100%;
  margin: 40px 0;
}

.cv .content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0;
}

.cv .experience {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.cv h3 {
	text-align: center;
	margin: 10px;
}

.cv ul {
	list-style-type: square;
	padding: 20px 10px;
	margin: 20px 0;
}

.cv .download {
  text-align: center;
  margin-top: 50px;
}

.cv button {
  display: block;
}

.cv a, i {
  color: #000;
}

.cv button {
  padding: 20px;
}

/* -------------------- Mobile Styles - Credits Page -------------------- */

.credits {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

.credits img {
	width: 30%;
}

.credits .credit-content {
  margin-bottom: 30px;
}

.credits .credit-content h2 {
  text-align: center;
}

.credits .credit-content p {
  margin-bottom: 30px;
}

.credits .credit-content img {
  width: 25%
}

.credits .skillcrush {
  font-family: 'Wisdom Script', cursive;
  color: #ff7f7b;
}

.credit-content .skillcrush .first-letter .shayhowe .credit-logo, span {
  flex-flow: column wrap;
}

.credits .icons-content {
  text-align: center;
  width: 100%;
}

.credits .icons-content h2 {
	padding: 10px 0;
}

.credit-icons {
  width: 75%;
}

.first-letter {
    font-size: 1.5em;
}

.shayhowe {
    color: #a58b7c;
    font-weight: 900;
}

.unsplash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.unsplash-sources {
}

.source-1,.source-2,.source-3,.source-4 {
  display: flex;
  width: 100%;
}

.source-1 a,.source-2 a,.source-3 a,.source-4 a {
  width: 100%;
  margin: 10px;
}

/* Ad banners */

.affiliates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.affiliates .content-wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.affiliates .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.affiliates article {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 5px
  margin: 10px;
  padding: 10px;
}

.affiliates img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {

/*Tablet styles here*/

h2 {
	font-size: 1.5em;
}

p, li {
	font-size: 1.3em;
}
  
  .btn {
    color: #212529;
    text-transform: uppercase;
    font-size: 1em;"
  line-height: 1.5;
}

.btn:hover {
  color: #3d735f;
}

.content-wrapper {
  margin: 50px 0;
}

/* Header */

.main-header {
  padding: 0;
} 

.main-header .content-wrapper {
  padding: 0;
  margin-top: 50px;
}

.main-header .logo-area {
  width: 50%;
}

.main-nav {
  margin-bottom: 0;
}

.main-nav li {
	padding: 10px;
	font-size: .9em;
}

.headline-content {
  font-size: 2.5em;
}

/* Services */

#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.service-features {
  padding: 50px;
}


/* Footer */

footer hr {
  display: none;
}

footer .footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer address {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

footer h4 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
footer p {
	font-size: 1.2em;
	line-height: 1.285;
}

footer .social {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

footer .social-icons p {
  margin: 5px;
  padding: 5px;
}

/* Hero Area */

.hero-area .content-wrapper {
	margin: 0;
	padding: 20px 0;
}

.hero-area h2 {
  margin: 0;
}

.hero-area p {
  margin: 0;
}

.hero-area,.hero-content {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0;
	padding: 20px;
}

.hero-area,.hero-content p {
	font-size: 1.2em;
}

/* Portfolio */

#portfolio .content-wrapper {
  margin: 40px 0;
}

#portfolio .projects {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}

#portfolio article {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 45%; 
  margin: 10px;
  padding: 20px;
}

#portfolio figure {
  margin: 30px 0 0 0;
} 

#portfolio h3 {
	font-size: 1.3em;
  height: 1.75em;
}

#portfolio p {
	font-size: 1.3em;
}

/* About */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#about .content-wrapper {
  margin: 50px 20px;
  padding: 10px;
}

.third-width {
  width: 33%;
}

#about ul {
  margin-top: 30px;
}

.history, .help {
	padding: 0;
}

#about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about h2 {
  flex-flow: row wrap;
}

#about h3 {
	font-size: 1.5em;
} 

#about p {
	font-size: 1em;
  margin: 20px 0 0 0;
}

#about .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: none;
  font-size: 1.25em;
  margin: 0;
  padding: 20px;
}

#about .skills i {
  font-size: 2em;
}

#about .skills p {
  font-size: 1em;
}
/* main look for the skills content*/

#about .skills-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 10px;
  padding: 0;
}

#about .skills-content article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.5em;
  width: 25%;
  padding: 0;
  margin: 0;
}

#about .skills-content i {
  margin: 0;

}
#about .skills-content img {
  padding: 0;
  margin: 3px;
}

#about .skills-content p {
  text-align: center;
  margin: 
}

#about .skill-description {
}

#about .history, .help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: none;
  font-size: 1.25em;
  margin: 0;
  padding: 20px;
}

#about button {
  margin-bottom: 30px;
}

/* ==========================================================================
   CV Page
   ========================================================================== */
.cv .skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin: 50px 0 0 0;
}

.cv .download {
  text-align: center;
}

/* ==========================================================================
   Credits Page
   ========================================================================== */
.credits .credit-content p {
	font-size: 1.3em;
}

.credits .skillcrush .first-letter {
	font-size: 2.7em;
}

.credits .coursera img {
	width: 8.5%;
}

.icons-content img {
	width: 30%;
}

.credits img {
  width: 15%;
}



/* Affiliates */

.affiliates .content-wrapper {
  margin: 40px 0;
}

#portfolio .projects {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}

.affiliates article {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 45%; 
  margin: 10px;
  padding: 10px;
}

@media only screen and (min-width: 1200px) {

   /* Desktop styles */

  header {
    padding: 15px 0;
    justify-content: space-between;
  }

button {
  display: block;"
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .content-wrapper {
    max-width: 90%;
  }

  h1 {  	
    font-size: 1.5em;
  }

  h2 {
    font-size: 2em;

  }

  h3,
  h4 {
    font-size: 1.875em;
  }

  .main-header {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: 
  }

  .main-header {
    height: 300px;
  }

  .main-header .content-wrapper {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
    margin: 20px 0;
  }

  .main-header .logo-area {
  	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
  	text-align: left;
}

.menu-icon {
  display: none;
}

nav {
  position: relative;
  top: -10px;
  background-color: transparent;
  width: 50%;
}

nav ul {
  max-height: 70px;
  padding: 15px 0;
  text-align: right;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
  padding: 0;
}

  .headline {
    justify-content: center;
    align-items: center;
  }

  .headline-content {
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 3.50em;
  }

  footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 50px;
  }

  footer #contact, .social, .address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;  
    flex-flow: column;
    padding: 0;
  }

  footer .nav-bottom {
    margin-top: 10px;
  }

  footer .main-nav-list li {
    margin: 20px;
  }

  footer .copyright {
    margin-top: 0;
  }

  /* Hero Area */

  .hero-area .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .hero-area .content-wrapper p {
    margin-bottom: 30px;
    padding: 0;
  }

  .hero-area, .content-title {
    text-align: center;
  font-size: 1.75em;
}

.hero-area,.hero-content {
	font-size: 1em;
}

/* Services */

#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#services .service-features {
  display: flex;
  align-items: flex-start;
}

  #services article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 30%;
  }

  #services .features-item-description {
    width: 100%;
  }

  #services i {
    margin-bottom: 30px;
  }


/* Portfolio */

#portfolio {  
  display: flex;
  justify-content: center;
  align-items: center;
} 

#portfolio .content-wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
	max-width: 1190px;
	justify-content: space-around;
	width: 100%;
}

#portfolio article {
	flex-basis: 20%;
  background-color: #f5f2f2;
  border-style: solid;
  border-width: .5px;
  border-color: #e3e5e6; 
  padding: 30px;
}

#portfolio .website-description {
	font-size: 1.5em;
}

/* About */

#about {
  margin: 0;
  padding: 0;
} 

#about p {
  font-size: 1em;
} 

#about .content-wrapper {
  display: flex;
  flex-flow: column;
}

#about .skills {
  width: 100%;
  margin: 20px;
  padding: 20px;
}

#about .skills i {
  font-size: 2em;
}

#about .skills p {
  font-size: 1em;
}

#about .skills-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#about .skills-content article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.5em;
  margin: 0 15px;
  padding: 30px;
  width: 60px;
}

#about .skills-content i {
  margin: 0;
}

#about .skills-content img {
  width: 40px;
  padding: 0;
}

#about .about-description {
  display: flex;
}

#about .history, .help {
  margin: 0;
  padding: 30px;
}

#about .help {
  margin: 0;
}

.history-content p, .help-content p {
  text-align: left;
}



/* -------------------- Mobile Styles - CV Page -------------------- */

.cv .content-wrapper {
  display: flex;
  flex-flow: column;
}

.cv h2, h3, h4 {
  font-size: 1em;
  margin: 0;
}

.cv ul {
  margin: 0;
}

.cv li {
  font-size: .75em;
}

.cv .skills {
  margin: 0;
}

.cv .skills ul {
  padding: 0;
}

/* -------------------- Mobile Styles - Credits Page -------------------- */


.source-1 a,.source-2 a,.source-3 a,.source-4 a {
  display: unset;
}

.affiliates {
  display: flex;
  justify-content: center;
  align-items: center;
}

.affiliates .content-wrapper {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.affiliates article {
  flex-basis: 20%; 
  padding: 30px;
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

