/***** BASE STYLES - (All styles is based) *****/

/***** TYPOGRAPHY *****/

@font-face{
    font-family: 'Wisdom Script';
    src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
    text-align: center;
}

h1 {
    /*** header-description ***/
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
   line-height: 15px;
    font-weight: 700;
    color: #a43937;
}

h2 {
    /*
    logo, portfolio header, about header, contact header,
    */
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-color: #050f09;
}

h3 {
    /*
    sub-logo, 3 portfolio projects header, 2 about sub-headers, 3 contact headers,
    */
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-color: #3d1814;
}

h4, p, li {
    /*
    h4 - 3 project subheaders, contact subheader
    p - 3 work projects, about, 3 contact, 2 bottom
    li - header nav, 2 about, contact social
    */
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    font-color: #1d5833;
}

.arrow {
    width: 36px;
}

/***** LINKS *****/

a {
    /*
    header nav, work projects, contact email, contact social, bottom arrow
    */
    text-decoration: none;
    color: #356321;
}

a:hover {
    color: #bc4e37;
}

/***** SECTIONS *****/

#work, #about {
    height: 600px;
    /* header and contact has different height */
}

.container {
    /* design the background for whole website */
    background-color: #becc66;
    width: 1200px;
    display: block;
    margin: auto;  
}

header,#work,#about,#contact,#bottom,.credits {
    background: #fbfdfe;
    width: 1190px;
    display: block;
    margin: auto;   
}

#work,#about,.credits {
    border-radius: 5px;
}
    
/***** GRID - (keep everything in line) *****/

.full-width {
    /* each section has 1 full width */
    width: 1190px;
    margin: 0 auto;
}

.half-width {
    /* the header section has 2 half width (2 columns) */
    width: 595px;
    float: left;
}
    
.third-width {
    /* all sections with 3 coloumns has 3 third width (portfolio, about, contact) */
    width: 396.6666666666667px;
    float: left;  
    margin: 4px;  
    padding: 0 auto;
}

/***** HEADER *****/

header {
    height: 225px;
    border-radius: 0 0 5px 5px;    
    background: -webkit-radial-gradient(#f3fef3, #fef6fa);
    background:    -moz-radial-gradient(#f3fef3, #fef6fa);
    background:         linear-radial-gradient(#f3fef3, #fef6fa);
}

.logo, .slogan { 
    
    text-align: left;
    text-transform: uppercase;
}

.logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;     
    margin-top: 25px; 
    padding: 15px 45px 0 45px;        
    line-height: 1px;
}

.slogan {
    font-size: 15px;
    padding: 5px 45px;
}

nav {
    float: right;
    padding: 25px 35px 25px 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
}

.header-description {  
    clear:both; 
    padding-top: 25px;      
}

/***** WORK *****/

#work {
    
    margin-top: 10px;     
    background: -webkit-radial-gradient(#f3fef3, #fef6fa);
    background:    -moz-radial-gradient(#f3fef3, #fef6fa);
    background:         linear-radial-gradient(#f3fef3, #fef6fa);
}

#work .full-width { 
    padding: 25px 0;
}

#work .third-width { 
    margin: 0 auto;
}

#work h2 { 
    margin-top: 0;
}

#work h3 { 
    margin: 10px auto;
}

#work p {
    margin: 0;
    padding: 0 30px;
}

.projects {
    width: 396.6666666666667px;
}

#work img {
    width: 370px;
    border: solid 2px #2e2d0f;
    border-radius: 5px;
}

#work .arrow {
    margin-top: 10px;
    width: 36px;
    border: none;

}


/***** ABOUT *****/

#about {
    margin-top: 10px;    
    background: -webkit-radial-gradient(#f3fef3, #fef6fa);
    background:    -moz-radial-gradient(#f3fef3, #fef6fa);
    background:         linear-radial-gradient(#f3fef3, #fef6fa);
}

#about .full-width { 
    padding: 15px 0;
}

#about .third-width { 
    margin: 0 auto;
}

#about .coding-screens {
    width: 365px;
    display: block;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

#about h3, h4 { 
    padding: 0 20px;
}

#about p {
    padding: 20px;
    text-align: justify;
}

#about li {
    text-align: left;
    font-size: 14px;
    padding: 0 15px;
}

#about .arrow {
    padding-top: 110px;
}

/***** CONTACT *****/

#contact, #bottom {    
    background: -webkit-radial-gradient(#f3fef3, #fef6fa);
    background:    -moz-radial-gradient(#f3fef3, #fef6fa);
    background:         linear-radial-gradient(#f3fef3, #fef6fa);
}

#contact {
    height: 400px;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
}

#contact .full-width {
    width: 1190px;
    padding-top: 25px;
}

#contact h2 {
    margin: 0;
}

#contact .third-width { 
    margin: 0 auto;
    padding: 0;
    text-align: center;
}


#contact .contact-me {
    margin-top: 20px;
}

#contact .contact-icon {
    width: 36px;
    margin: 5px;
    padding-left: 0;
}

#contact .phone-number {
    padding: 0 5px 0 0;
}

.uk-phones {
    width: 250px;
    border: 12px solid #e5e7b6;
    border-radius: 5px;
    display: inline-block;
    margin-top: 25px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    display: inline-block;  
    padding: 3px;  
}

.icon {
    width: 36px;  
}

#contact .social-media {
    margin: 0;
    padding: 20px 0 0 0;
}

/***** BOTTOM *****/

#bottom {
    margin-top: 0;
    padding-top: 5px;
}



#bottom hr {
    width: 500px;
    margin: 20px auto;
}

#bottom p {
    margin-bottom: 0;
    padding-bottom: 3px;
}

#bottom .arrow {
    padding-top: 0;
}

.credits {
    
    margin-top: 10px;       
    background: -webkit-radial-gradient(#f3fef3, #fef6fa);
    background:    -moz-radial-gradient(#f3fef3, #fef6fa);
    background:         linear-radial-gradient(#f3fef3, #fef6fa);
}

.credits .full-width { 
    padding: 25px 0;
    line-height: 45px;
}

.credit-logo {
    height: 12px;
}

.credit-icons {
    height: 20px;
    padding: 0 20px;
}

.credits hr {
    width: 500px;
    margin-top: 30px;
}

.skillcrush {
    font-family: 'Wisdom Script', cursive;
    color: #ff7f7b;
    font-weight: 100;
}

.first-letter {
    font-size: 50px;
}

.shayhowe {
    color: #a58b7c;
    font-weight: 900;
}